.main {
    margin-top: 100px;
  text-align: center;
}

.logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: auto;
  }
.search-input {
  
  display: block;
  width: 400px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right:30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom:20px;
  border : solid 1px #dfe1e5;
  border-radius: 24px;
}

.btn {
  
  margin-top: 30px;
  background-color: #b7b7b7;
  border: none;
  border-radius: 4px;
  color: #29292a;
  font-size: 14px;
  padding: 10px 20px;
  
  
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}