.main {
    margin-top: 100px;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 30px;
}

