html, body {
    margin: 0;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, rgb(59, 59, 239), yellow);
}

body {
    font-size: 20px;
}

caption {
    margin-bottom: 14px;
    font-size: 30px;
    
}

th {
    background-color: #571962;
    color: #fff; 
}

table{
    border-radius: 5px;
    margin: 0 auto;
}

td {
    background-color: #fd89cd;
}

td, th {
    padding: 10px 20px;
}

tfoot td{
    background-color: #46edc8;
    text-align: center;
}
