body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    text-align: center;
    color: #6ec4dd;
        
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6ec4dd;
    background-image: url("../images/spaceExpo.webp");
    background-size: cover;
    margin :0 auto;
    height: 90%;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(240, 240, 238);
    border: 2px solid rgb(6, 6, 6);
    border-radius: 5px;
    color: rgb(19, 18, 18);
    font-family: inherit;
    width: 100px;
    padding: 15px 15px;
    
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  /*https://fonts.google.com/selection/embed */
}
.underline {    
    border-bottom: 5px solid white;
}

#title {
    margin-top: 50px;
    text-shadow: 0 0 3px #6ec4dd;    
}

#logo {
    margin-top: 20px;
    width: 100px;
}